<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwt.test">
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ContentScreen">
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextSpaceActivity"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".TextBgActivity"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".WebBrowserActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".LockScreenActivity"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".GalleryActivity"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".PageCurlActivity"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".HtmlTextActivity"
                  android:screenOrientation="portrait"
            />

        <service android:name=".LockScreenService"/>
        <!--<receiver android:name="com.wwt.test.NetWorkChangeBroadcastReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:name=".MyAppWidgetProvider1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/appwidget_info_1"/>

        </receiver>
        <receiver android:name=".MyAppWidgetProvider2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/appwidget_info_2"/>

        </receiver>
        <receiver android:name=".MyAppWidgetProvider3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info_3"/>

        </receiver>
    </application>

</manifest>
